
body {
    padding: 50px;
}

.search {
    color: green;
    border: 3px solid green;
    border-radius: 15px;
    padding: 5px 50px;
    font-weight: bold;
}

p {
    color: white;
    background-color: green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: 900;
    line-height: 1.8em;
}

.createAccount {
    background-color: blue;
    border: 3px solid black;
    color: white;
    font-weight: bold;
    padding: 5px 50px;
    box-shadow: 3px 3px black;
}